</p>

<p><h1>Full Cycle Rocks!</h1></p>
</p>

<p>Lista de nomes cadastrada no banco de dados:</p>
<ul>
  <% for(var i=0; i < results.length; i++) { %>
  <li><%= results[i].name %></li>
  <% } %>
</ul>